body {
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  resize: none;
  height: 40px;
  padding: 20px;
}

textarea {
  height: 100px;
}

button {
  width: 300px;
  margin: 0 auto;
  border: 0;
  background: #fff;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 0 0 30px 10px rgba($black, .1);
  transition: .2s all linear;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover {
    background: #000;
    color: #fff;
  }
}

table {
  margin: 0 auto;

  tr {
    background: #ddd;

    &:nth-child(odd) {
      background: #ccc;
    }
  }

  td {
    padding: 10px;
    font-size: 16px;
  }
}

.headings {
  background: #eee !important;
  color: #000;

  th {
    border: 0;
    padding: 15px 20px;
    min-width: 200px;
    font-size: 20px;
  }
}

.form-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 20px auto 50px;

  .form-group {
    width: 49.5%;
    margin: 5px 0;

    &.fullWidth {
      width: 100%;
    }

    .errorMessage,
    .error {
      color: #ff0000;
    }

    .error {
      border-color: #ff0000;
    }
  }
}